<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="main-comp">
        <div class="speech-box sb1"> Looks like we're sticking with ramen eh? </div>
       <img id="old-man-sub" src="../public/oldman.png">
       <img src="../public/fridge.jpg">
       <div class="move-options">
        <a href="/entry/left"><button class="button button1">BACK</button></a>
    </div> 
    </div>
</body>
</html>