<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="sub-comp">
        <h3>Sign in to start</h3>
        <form action="/signup" method="POST">
            <p><input type="text" name="username" placeholder="username"></p> 
            <p><input type="password" name="password" placeholder="password"></p>
            <p><button type="submit" class="button button1">sign in</button></p>
        </form>

        <% if (invalid_login) { %>
            <div class="error">
                Invalid login.
            </div>
            <% } %>
    </div>

</body>
</html>