body {
    background-color: bisque;
}

.home-img {
    width: 800px;
}

.main-comp {
    height: 300px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: auto; */
}

.sub-comp {
    height: 300px;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#key-pic {
    width: 900px;
}

#old-man {
    top: 90px;
    left: 22%;
    transform: translateX(-50%);
    z-index: 2;
    width: 90px;
    position: relative;
}

#old-man-sub {
    top: 160px;
    left: 22%;
    transform: translateX(-50%);
    z-index: 2;
    width: 90px;
    position: relative;
}

#entry-img {
    top: 0;
    left: 0;
    /* position: absolute; */
}

.speech-box {
    width: 300px;
    margin: 50px auto;
    background: whitesmoke;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: gray;
    border-radius: 25px;
    font-family: arial;
    position:relative;
    z-index: 2;
    top: 390px;
    left: 50px;
  }

  /* .sb1:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #00bfb6;
    border-right: 10px solid transparent;
    border-top: 10px solid #00bfb6;
    border-bottom: 10px solid transparent;
    right: -20px;
    top: 200px;
    z-index: 2;
  } */

  .move-options {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 8px;
  }

  /* a {
      margin: 3px;
  } */

  .button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid red;
  }
  
  .button2:hover {
    background-color: red;
    color: white;
  }

  img {
      /* margin: 10px; */
      /* border: 1px solid black; */
      /* box-shadow: 10px 10px grey; */
  }